.ListItem {
  user-select: none;
  position: relative;
}

.ListItem--checked {
  position: absolute;
  right: 0;
  color: var(--button_commerce_background)
}

.ListItem__container {
  height: 100px;
  display: flex;
  align-items: center;
}

.ListItem__in {
  margin: 0 auto;
}

.ListItem__title {
  text-align: center;
}

.ListItem__count {
  text-align: center;
}
