.OpenQuestions__header {
  padding-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text_secondary);
}

.OpenQuestions__question {
  padding-left: 10px;
  user-select: none;
}
