.OpenQuestions__header {
  user-select: none;
  padding-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text_secondary);
}

.OpenQuestions__question {
  padding-left: 10px;
  user-select: none;
}

.OpenQuestions__icon20Empty {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}